<header class="mdl-layout__header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-layout-title site-title shake" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      {% for page in site.pages %}
        {% if page.title %}
        <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
