a.site-title:hover {
  text-decoration: none;
}

a.mdl-navigation__link:hover {
  text-decoration: none;
  border-bottom: 6px solid #607D8B;
}

.mdl-mini-footer {
  background-color: #fff !important;
  .mdl-logo {
    color: #000;
  }
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake:hover,
.shake:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.3s;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.shake {
  display:inline-block
}

.mdl-card {
  margin-bottom: 10px;
  a {
    text-decoration: none;
  }
  .mdl-card__supporting-text {
    padding-bottom: 0;
    .mdl-card__actions {
      margin-top: 36px;
    }
  }
}

.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
